<div class="row marketing">
  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Special</th>
        <th>User</th>
        <th>Group</th>
        <th>Others</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">R</th>
        <td><input type="checkbox" [(ngModel)]=permission.special.read></td>
        <td><input type="checkbox" [(ngModel)]=permission.user.read></td>
        <td><input type="checkbox" [(ngModel)]=permission.group.read></td>
        <td><input type="checkbox" [(ngModel)]=permission.other.read></td>
      </tr>
      <tr>
        <th scope="row">W</th>
        <td><input type="checkbox" [(ngModel)]=permission.special.write></td>
        <td><input type="checkbox" [(ngModel)]=permission.user.write></td>
        <td><input type="checkbox" [(ngModel)]=permission.group.write></td>
        <td><input type="checkbox" [(ngModel)]=permission.other.write></td>
      </tr>
      <tr>
        <th scope="row">E</th>
        <td><input type="checkbox" [(ngModel)]=permission.special.exec></td>
        <td><input type="checkbox" [(ngModel)]=permission.user.exec></td>
        <td><input type="checkbox" [(ngModel)]=permission.group.exec></td>
        <td><input type="checkbox" [(ngModel)]=permission.other.exec></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="binaryInput">Binary</label>
      <label class="sr-only" for="binaryInput"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" name="binaryInput" id="binaryInput" placeholder="" [(ngModel)]="permission.binary">
        <div class="input-group-addon"><app-copy-to-clipboard [target]="permission.binary"></app-copy-to-clipboard></div>
      </div>
    </div>
    <div class="form-group">
      <label for="hexadecimalInput">Hex</label>
      <label class="sr-only" for="hexadecimalInput"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" name="hexadecimalInput" id="hexadecimalInput" placeholder="" [(ngModel)]="permission.hex">
        <div class="input-group-addon"><app-copy-to-clipboard [target]="permission.hex"></app-copy-to-clipboard></div>
      </div>
    </div>
    <div class="form-group">
      <label for="verboseInput">Verbose</label>
      <label class="sr-only" for="verboseInput"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" name="verboseInput" id="verboseInput" placeholder="" [(ngModel)]="permission.verbose">
        <div class="input-group-addon"><app-copy-to-clipboard [target]="permission.verbose"></app-copy-to-clipboard></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="flagsInputGroup">Flags</label>
      <label class="sr-only" for="flagsInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0" id="flagsInputGroup">
        <input type="text" class="form-control" name="flag1Input" id="flag1Input" placeholder="">
        <input type="text" class="form-control" name="flag2Input" id="flag2Input" placeholder="">
        <input type="text" class="form-control" name="flag3Input" id="flag3Input" placeholder="">
        <input type="text" class="form-control" name="flag4Input" id="flag4Input" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="commandInput">Command</label>
      <label class="sr-only" for="commandInput"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="commandInput" placeholder="" [(ngModel)]="permission.command">
        <div class="input-group-addon" (click)="debug()"><app-copy-to-clipboard [target]="permission.command"></app-copy-to-clipboard></div>
      </div>
    </div>
  </div>
</div>
