<!--<h1>-->
  <!--{{title}}-->
<!--</h1>-->

<div class="row marketing">
  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Special</th>
        <th>User</th>
        <th>Group</th>
        <th>Others</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">R</th>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
      </tr>
      <tr>
        <th scope="row">W</th>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
      </tr>
      <tr>
        <th scope="row">E</th>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="exampleInputEmail1">Binary</label>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <div class="input-group-addon">Copy</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Hex</label>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <div class="input-group-addon">Copy</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Verbose</label>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <div class="input-group-addon">Copy</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="exampleInputEmail1">Flags</label>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Command</label>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        <div class="input-group-addon">Copy</div>
      </div>
    </div>
  </div>
</div>
